*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --light-blue :#48afff;
    --blue:#1498ff;
    --pink:#f94f9a;
    --dark-pink:#f83e87;
    --orange:#ef7219;
    --grey :#f1f3f6;
    --yellow : #fce55e;
    --white : #ffffff;
}
body{
    background-color: #1498ff;
}
#div-1{
    background-color: var(--blue);
    color: var(--white);
}
#div-2{
    background-color: var(--light-blue);
}
#hamburg{
    color: var(--white);
    font-size: 1.8rem;
}
#input{
    width: 26rem;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    padding: 10px 5px 10px 5px;
    border: none;
}
#mic{
    font-size: 1.5rem;
    color: var(--light-blue);
    background-color: var(--white);
    padding: 10px ;
}
#button-1{
    padding: 7px 25px;
    background: var(--white);
    color: var(--blue);
    border-radius: 4px;
    border: none;
}
#button-2{
    padding: 7px 25px;
    background: var(--light-blue);
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--white);
}
.para-div{
    font-size: 0.8rem;
}
#div-3{
    cursor: pointer;
    padding-top: 8px;
}
#div-3:hover{
    /* display: flex; */
    /* justify-content: space-evenly; */
    background-color:  var(--grey);
    padding-left: auto 19px;
    border-bottom: 3px solid var(--blue);
}
#div-4{
    background-color: var(--pink);
}
.div-5{
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 5px;

}
#button-3{
    padding: 7px 15px;
    background: var(--white);
    color: #000000;
    border-radius: 4px;
    border: none;
    font-size: 0.9rem;
}
.div-6{
    background-color: var(--grey);
    padding: 10px 30px;
    border-radius: 5px;

}